torch>=1.7
torchvision>=0.8
kornia>=0.7.0
opencv-python
numpy
matplotlib
neurite
scikit-image
voxynth @ git+https://github.com/dalcalab/voxynth.git
pylot @ git+https://github.com/JJGO/pylot.git@refs/pull/7/head
wandb
